body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  width: 60%;
  height: 80px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header > img {
  height: 22px;
}

.header ul {
  display: flex;
  list-style: none;
}

.header ul li {
  margin-left: 60px;
  display: flex;
}

.header ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #4c5866;
}

.header ul li div {
  width: 78px;
  display: flex;
  justify-content: space-between;
}

hr {
  margin: 0;
  border: 1% solid #4c5866;
}

.section1 {
  display: flex;
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
  justify-content: space-between;
}

.section1 img {
  width: 50%;
}

.section1 .main-info {
  width: 40%;
}

.main-info h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #4C5866;
  margin-top: 60px;
}

.main-info p{
font-weight: 400;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;
color: #85859B;
margin-block: 30px;
}

.main-info a{
display: inline-block;
border-width: 1px;
top: 290px;
padding-top: 22px;
padding-right: 89px;
padding-bottom: 22px;
padding-left: 89px;
border: 1px solid #7875FE;
font-weight: 400;
font-size: 20px;
line-height: 100%;
color: #7875FE;
text-decoration: none;
}

.f{
  display: flex;
  width: 95%;
  justify-content: space-between;
}
.s{
  width: 45%;
}